doctype html
html(lang="en")
    head
        title
        meta(charset="UTF-8")
    body
        - var data = "<script>alert(123)</script>"
        h2 #{data}
        h2 !{data}
        h2=  data
        h2!= data
        h2  \#{data}

        h3 #{data2}
        h3= data2

        div(id ="#{data3}" )
        div(id =data3 )


